
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" th:src="@{/js/required.js}"></script>
    </head>
    <body>     
        <form name="branchForm" th:action="@{/admin/addBranch}" method="post">
            name : <input type="text" name="nameBranch" id="nameBranch"/>
            <input type="submit" value="Dodaj" />
        </form>
    </body>
</html>
