<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

</html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>

        <form th:action="@{/logout}" method="post">
            <nav th:replace="fragments :: navigation"></nav>
        </form>

        <h3>Powiadomienia</h3>

        <div class="row">
            <div class="col-xs-6">
                <div class="table-responsive">
                    <table class="table table-hover table" id="myEmployees">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Treść</th>
                                <th scope="col"></th>
                                <th scope="col">Akcja</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="notification : ${notifications}">
                                <td th:text="${notification.id}"></td>
                                <td th:text="${notification.communicat}"></td>
                                <td> 
                                    <a th:attr="href=@{/{x} (x=${notification.uri})}">Sprawdź</a>
                                </td>
                                <td>
                                    <a th:attr="href=@{/notofications/delete/{id} (id=${notification.id})}" class="btn btn-danger">Usuń</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </body>
</html>
